    @{
      Layout = "_LayoutDocument";
    }
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/doc.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="header">
                <h1>NuMaps Official Documentation</h1>
            </div>
    <div class="left" style="background-color:#aaa;">
@*            <ul id="publicportfolio">
            <li><span class="gfg">NuMaps Documentation</span>
                <ol class="cover" type="">
                    <li><span class="gfg">Planning and Design</span>
                        <ol class="cover" type="1">  
                                <li><span class="gfg">Introduction</span></li>                                     
                        <li><span class="gfg">Overview</span>
                        <ol class="cover" type="i">
                            <li>Brand Name and Logo</li>
                            <li>Feature Highlists</li>
                        </ol> 
                        </li>
                        <li><span class="gfg">Requirments</span></li>            
                            <li><span class="gfg">User Interface Design</span></li>                                            
                            <li><span class="gfg">Features, Displays and Abilities</span>
                        <ol class="cover" type="a">
                            <li>Register and Login Display's'</li>
                            <li>User Settings Display</li>
                            <li>Home Display</li>
                            <li>Landmarks Near Me Display</li>
                            <li>Offline Maps Display</li>
                            <li>Sharing Location</li>
                            <li>Route Direction Navigation</li>
                            <li>Favorite Landmark/s Display</li>
                        </ol>             
                    </li>                                        
                    <li><span class="gfg">User Diagram</span>
                        <ol class="cover" type="a">
                            <li>Login/Register/Settings & Current Location</li>
                            <li>Top Topics</li>
                            <li>Search Bar/Location Sharing & Current Location</li>
                            <li>Landmarks near Me/Favorite Landmarks</li>
                            <li>Offline Maps</li>
                        </ol>             
                    </li>                                        
                    <li><span class="gfg">Data (Types)</span></li>                     
                        <li><span class="gfg">Conclusion</span></li>
                        <li><span class="gfg">References</span></li>  
                         </ol>
                </li>           
            </ol>
        </li>  
    </ul>*@
    <!-- role=list necessary because WebKit removes list semantic when list-style-type: none -->
<ol class="toc-list" role="list">

    <li>
        <a href="#Introduction">
            <span class="title">Overview<span class="leaders" aria-hidden="true"></span></span> <span
                data-href="#Introduction" class="page"><span class="visually-hidden">Page&nbsp;</span>5</span>

        </a>
        <ol role="list">

            <li>
                <a href="#intro">
                    <span class="title">Features<span class="leaders" aria-hidden="true"></span></span> <span
                        data-href="#Introduction-About-This-Book" class="page"><span
                            class="visually-hidden">Page&nbsp;</span>5</span>
                </a>
            </li>

            <li>
                <a href="window.location.href='#intro'">
                    <span class="title">Requirments<span class="leaders" aria-hidden="true"></span></span> <span
                        data-href="#Introduction-Acknowledgments" class="page"><span
                            class="visually-hidden">Page&nbsp;</span>8</span>
                </a>
            </li>

            <li>
                <a href="window.location.href='#ud'">
                    <span class="title">User Diagrams<span class="leaders" aria-hidden="true"></span></span> <span
                        data-href="#Introduction-About-the-Author" class="page"><span
                            class="visually-hidden">Page&nbsp;</span>8</span>
                </a>
            </li>

            
            <li>
                <a href="window.location.href='#intro'">
                    <span class="title">Conclusion<span class="leaders" aria-hidden="true"></span></span> <span
                        data-href="#Introduction-About-the-Author" class="page"><span
                            class="visually-hidden">Page&nbsp;</span>8</span>
                </a>
            </li>
</ol>
     </div>
      <div class="middle" style="background-color:#bbb;">
          <h3 id="intro">Overview</h3>
          <p>
              NuMap, is a brand-new application that is comparable to other Navigation, 
Mapping and GPS apps. Targeted for simplicity, convenience, and effectiveness. 
With the target in mind, other GPS Navigation applications show success with 
simplicity and easy to use features. Therefore, NuMap features, and development 
will show users an easy way to navigate and view maps. Special features such as, 
offline maps, alternative routes and sending a location via social media will 
distinguish NuMap from competition. These “special” features are what also make 
GPS Navigation apps successful, they also create a view of what kind of people 
they want to be using their app. NuMap features are targeted to users that want a 
free application that gives them the ability to navigate and receive accurate 
information about their destination and route. NuMap “special” features are 
implemented so that users that are either frequent travelers, users that use social 
media or travelers that need to get to their destination as soon as possible can be 
satisfied with using NuMap.
In this document we will cover, an overview of the app, a list that shows what the 
application requires to be developed, how the user interface will be designed, a 
mockup of each screen, a diagram showing how a user will navigate through the 
application, a project plan showing milestones as well as deadlines for 
development and a conclusion to wrap up things.
The application will be developed in android studio, and function on a level which 
a user can register and have a personalized experience.

          </p>
          <br />
          <br />
          <h3 id="ar">Alternative Routes</h3><br />
This requirement was chosen since most successful map applications have this 
feature, it’s a requirement that shows the user that the application can give 
them results they want. If a user enjoys convenance with options, then having 
alternative routes will satisfy the user.
Alternative routes also show a user why the current route is automatically 
chosen, to show the fastest available route. If the user wants more of a scenic 
route or wants to take a longer route, then that’s available.<br />
<b>Offline Maps</b>
Having access to maps is one thing but being able to navigate without data or 
service that is truly having a map. This feature gives the user the ability to 
navigate and view maps without data. The user must download the map from 
the database first, this feature does not automatically appear. If a user is 
expecting to travel abroad or where there is no service, then downloading a 
map is a must have option. A user with high data costs or doesn’t want to 
spend money on data then downloading a map through Wi-Fi before taking to 
the roads is an easy way to avoid data costs.<br />

<b>Sending Location via social media</b>
A user that enjoys showing people where they are or maybe wants the ability to 
inform someone how much further they are from their destination, then being 
able to send their location immediately via NuMap is an easy way to execute 
these needs. NuMap will feature a button on the navigation menu and map that 
will send the users current location to someone via social media.<br />

<h3 id="ur">User Requirements</h3><br />
<b>Register.</b><br />
The user must be able to register with the application, personal details 
such as name, email-address and cellphone number will be captured and 
stored in an online database. (firebase)
<b>Login.</b>
The user must be able to login into the application using an emailaddress and password that was prompted on registration. 
3. Settings.
Persistent settings will be saved to an online database and will be 
associated to a user. Settings features must include, toggling between 
metric and imperial system, preferred landmarks.
4. Filter displayed landmarks.
Landmarks must be either shown or hidden on the map based on a 
user’s preferred setting.
5. User’s current location.
Map must display the user’s current location.
6. List of Favorite Landmarks.
A list of landmarks that a user has starred. Clicking on a landmark will 
take the user to that landmark and show directions and ETA to the 
destination.

<b>Map</b>
1. Viewing nearby landmarks on a map.
An embedded feature that will show landmarks that are around a user’s 
current location.
2. Selecting landmarks.
Selecting a landmark on a map must display information about the 
landmark, also must include directions from current location to the 
landmark.
3. Calculating best route to destination/landmark.
Obtained via a webservice or algorithm. Between the user’s current 
location and a landmark (selected) the best route must be displayed.
4. Estimated time and distance to destination.
Display the ETA and distance to a destination.
Special Features
1. Alternative Routes.
Display alternative routes to a destination. (Slower usually)
2. Offline Maps.
Option to download a map onto the device, therefore the map can be 
viewed without data.
3. Sending Location via social media.
Options to share or generate link for the current user location.

                     

      </div>
      <div class="right" style="background-color:#bbb;">Test</div>


      </div> 


       </body>

       
 
        <script>
            var toggler = document.getElementsByClassName("gfg");
            var i;
  
            for (i = 0; i < toggler.length; i++) {
                toggler[i].addEventListener("click",
                    function() {
                        this.parentElement.querySelector(".cover")
                            .classList.toggle("active");
                        this.classList.toggle("gfg-down");
                    }
                );
            }
        </script>
  

  


    </html>