    @{
      Layout = "_LayoutDocument";
    }
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/doc.css">
    </head>
    <body>
        <div class="grid-container">
            <div class="header">
                <h1>The Secret Love Project Documentation</h1>
            </div>
    <div class="left" style="background-color:#aaa;">
            <ul id="publicportfolio">
            <li><span class="gfg">The Secret Love Project Content Table</span>
                <ol class="cover" type="">
                    <li><span class="gfg">Planning and Design</span>
                        <ol class="cover" type="1">  
                                <li><span class="gfg">Introduction</span></li>                                     
                        <li><span class="gfg">Overview</span>
                        <ol class="cover" type="i">
                            <li>Brand Name and Logo</li>
                            <li>Feature Highlists</li>
                        </ol> 
                        </li>
                        <li><span class="gfg">Requirments</span></li>            
                            <li><span class="gfg">User Interface Design</span></li>                                            
                            <li><span class="gfg">Features, Displays and Abilities</span>
                        <ol class="cover" type="a">
                            <li>Register and Login Display's'</li>
                            <li>User Settings Display</li>
                            <li>Home Display</li>
                            <li>Landmarks Near Me Display</li>
                            <li>Offline Maps Display</li>
                            <li>Sharing Location</li>
                            <li>Route Direction Navigation</li>
                            <li>Favorite Landmark/s Display</li>
                        </ol>             
                    </li>                                        
                    <li><span class="gfg">User Diagram</span>
                        <ol class="cover" type="a">
                            <li>Login/Register/Settings & Current Location</li>
                            <li>Top Topics</li>
                            <li>Search Bar/Location Sharing & Current Location</li>
                            <li>Landmarks near Me/Favorite Landmarks</li>
                            <li>Offline Maps</li>
                        </ol>             
                    </li>                                        
                    <li><span class="gfg">Data (Types)</span></li>                     
                        <li><span class="gfg">Conclusion</span></li>
                        <li><span class="gfg">References</span></li>  
                         </ol>
                </li>           
            </ol>
        </li>  
    </ul>
     </div>
      <div class="middle" style="background-color:#bbb;">Test</div>  
      <div class="footer">
        <p title="LBL_Solutions" target="_blank" class="w3-hover-text-green">&copy; 2022 - Line_by_Line_Solutions</p>
      </div> 
      </div>
 
        <script>
            var toggler = document.getElementsByClassName("gfg");
            var i;
  
            for (i = 0; i < toggler.length; i++) {
                toggler[i].addEventListener("click",
                    function() {
                        this.parentElement.querySelector(".cover")
                            .classList.toggle("active");
                        this.classList.toggle("gfg-down");
                    }
                );
            }
        </script>
  

    </body>
  
    </html>