@{
    ViewData["Title"] = "Branden Page";
    Layout = "_LayoutDocument";
}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/site.css">
</head>
<body class="body">
    <br />
    <br />
      <!-- Page content -->
<div class="w3-content w3-padding w3-margin-left w3-margin-right">
               <div class="w3-container w3-padding-64 w3-center" id="Services">
                                 
                   <img class="framed3" src="/Images/th-670729622.png" alt="Branden" style="max-height:350px; max-width:350px">      
                   <h2 class="w3-border-bottom w3-animate-bottom w3-border-black w3-padding-16 h2">Branden van Staden's Profile</h2>   


               </div>
    <div class="card">    
        <div class="card-header w3-center">   
        </div>
        <div class="card-body">                                   
            <h4 class="w3-opacity h4">
                Worked on many different types of applications and with many different technologies. Quickly learn new programming languages and technologies. 
                Can also read and understand existing code to find and fix bugs. Have 6 years experience in IT. Have a Bachelor of Computer and Information Sciences in Application Developmentas well as many I.T related certifications. I have worked with many programming languages and frameworks including Xamarin, 
                Visual Studio, C# and Java. Currently working on projects utilizing Angular, JQuery, Java Script, CSS, HTML5, ASP.NET Framework. 
                I am familiar with content management systems. I have worked on front end designs/pages and back end services. Have done responsive development, desktop applications, and mobile applications.
            </h4>  
                    <button class="w3-button w3-border-dark-gray w3-amber w3-hover-blue" onclick="href='/Contact/Index'">Book a consultation</button>

            <div class="w3-row-padding">  
                <div class="w3-col l6 m6 ">
                    <h3 class="w3-border-bottom w3-border-light-grey h3">Official Qualification</h3>                               
                    <a style="text-decoration:none" href="https://www.varsitycollege.co.za/programmes/full-time/bachelor-of-technology-information-studies"><img class="framed3" src="/Images/1666852016831.png" alt="Branden" style="max-height:350px; max-width:350px"></a>
                    <p>Click to Learn More</p>
                       
                </div>
                    <div class="w3-col l6 m6 w3-margin-bottom">
                        <a href="https://za.linkedin.com/in/branden-van-staden"><h3 class="w3-border-bottom w3-border-light-grey h3">LinkedIn Profile</h3></a>                                   
                                 <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="branden-van-staden" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://za.linkedin.com/in/branden-van-staden?trk=profile-badge"></a></div>
                                 <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script> 
                </div>
         

      </div>

    </div>
</div>

   
    </div>

</body>
</html>


