@{
    ViewData["Title"] = "Branden Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/site.css">
</head>
<body>
        <div class="w3-top"> 
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">    
            <a href="http://localhost:9963" class="w3-bar-item w3-button"><b>Line_by_Line</b> Solutions</a>           
            <div class="w3-right w3-hide-small">             
                <a onclick="window.location.href='#Qualifications'" class="w3-bar-item w3-button">Qualifications</a>                         
                <a onclick="window.location.href='#Contact'"  class="w3-bar-item w3-button">Contacts</a>           
                <a onclick="window.location.href='https://github.com/BrandenSysoutHelloWorld'"  class="w3-bar-item w3-button">GitHub</a>                
                <a href="https://www.linkedin.com/in/branden-van-staden/" class="w3-bar-item w3-button">LinkedIn</a>           
            </div>
        </div>       
</div> 
      <!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">
    
  <!-- Services Section -->    
  <div class="w3-container w3-padding-32" id="Services">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 h3">Who is Branden van Staden?</h3>
    <p>      
    
        Highly driven individual – always striving to learn, create and ensure all objectives are completed. <br />I enjoy going the extra distance to provide high quality end results. Final touches on a great project makes all the difference.<br />
Equipped with an innovative and highly in-depth bachelor’s degree in Computer Application Development. I am always confident in my work and have a solid understanding of my skills.
Computer hardware and Software has been a passion of mine since I first pressed the power-on button. I have always found comfort in technology – being able to spend hours on learning innovative technologies, 
I find myself always progressing and building on my deep understanding of computers and software.<br />
In the past couple of years, I have gained a great deal of insights on myself and abilities. I live a balanced lifestyle which involves routine, learning and a positive outlook.
    </p>
    </div>
      <!-- Services Section -->    
  <div class="w3-container w3-padding-32" id="Qualifications">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 h3">Branden's Qualifications</h3>
<p>Bachelors in Computer Application Development (2019 – present)
College: Varsity College
First Year Modules:<br />
Applied Communication Techniques, Database, Network Engineering, Programming Logic and Design,<br />
Programming, Digital Laws and Ethics, Mathematical Principles for Computer Science, Web Development.<br />
Second Year Modules:<br />
Advanced Databases, Cloud Development, Programming, System Analysis and Design, <br />
Cloud Development, Open-Source Coding, Software Engineering.<br />
Third Year Modules (Final): <br />
Application Development Security, Open-Source Coding, Programming, <br />
Advanced IT Management, Research, IT Project Management, Work Integrated Learning.
    </p>
    </div>
          <!-- CV Section -->    
  <div class="w3-container w3-padding-32" id="Contact">
      <h3>Lets Talk</h3>    
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 h3">
        Mobile Number: 081 565 0206<br />
        Email Adderess: brandenconnected@gmail.com
        </h3>
             <p><button onClick="location.href='http://localhost:9963/Contact/Index'"class="w3-button w3-light-grey w3-block">Send a Request</button></p>
            <p><button onClick="location.href='https://github.com/BrandenSysoutHelloWorld'"class="w3-button w3-light-grey w3-block">View GitHub</button></p>                       
            <p><button onClick="location.href='https://www.linkedin.com/in/branden-van-staden/''"class="w3-button w3-light-grey w3-block">View LinkedIn</button></p>
  </div>
      <!-- Contact Section -->                
      <a href="https://www.linkedin.com/in/branden-van-staden/overlay/1635503176861/single-media-viewer/" style="text-decoration:none"><h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 h3">View Branden's CV</h3></a></div>
</body>
</html>


