<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/css/customSite.css">
</head>
<div id="slider">
<div class="slides">

<!-- First slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1> Your title </h1>
<h2> Your description </h2>
</div>
</div>
<div class="images">
<img src="ImagePath/ImageName.jpg">
</div>
</div>

<!-- Second slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1> Your title </h1>
<h2> Your description </h2>
</div>
</div>
<div class="images">
<img src="ImagePath/ImageName.jpg">
</div>
</div>

<!-- Third slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1> Your title </h1>
<h2> Your description </h2>
</div>
</div>
<div class="images">
<img src="ImagePath/ImageName.jpg">
</div>
</div>

<!-- Fourth slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1> Your title </h1>
<h2> Your description </h2>
</div>
</div>
<div class="images">
<img src="ImagePath/ImageName.jpg">
</div>
</div>

</div>
</div>
</html>