@model LBL_Solutions.Models.ContactMsgModel
<!DOCTYPE html>
@{
    ViewData["Title"] = "Home Page"; Layout = null;
}
<html lang="en">
<system.webServer>
    <security>
        <dynamicIpSecurity denyAction="Forbidden">
            <denyByConcurrentRequests enabled="true" maxConcurrentRequests="10" />
            <denyByRequestRate enabled="true" maxRequests="30"
                               requestIntervalInMilliseconds="300" />
        </dynamicIpSecurity>
    </security>
</system.webServer>
<head>
    <title>Line-by-Line - IT Infrastructure</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="Line-by-line Software Soultions" />
    <meta name="keywords" content="agile, IT, infrastructure, software solutions, consultancy, branding, design, website, services" />
    <meta name="description" content="Line-by-Line Software Solutions offers a full range of IT services focused on delivering high-end digital solutions for businesses and public organizations in the Commercial sector." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Line-by-Line Software Solutions" />
    <meta property="og:description" content="Line-by-Line Software Solutions offers a full range of IT services focused on delivering high-end digital solutions for businesses and public organizations in the Commercial sector." />
    <meta property="og:site_name" content="Line-by-Line Software Solutions" />
    <meta property="og:image" content="https://linebyline.azurewebsites.net/Images/Logos/Line-by-Line_Logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="https://linebyline.azurewebsites.net/Images/Logos/Line-by-Line_Logo.png" />
    <meta itemprop="name" content="Line-by-Line Software Solutions" />
    <meta itemprop="image" content="https://linebyline.azurewebsites.net/Images/Logos/Line-by-Line_Logo.png" />
    <meta property="og:url" content="https://linebyline.azurewebsites.net" />
    <meta name="description" content="Line-by-Line Software Solutions offers a full range of IT services focused on delivering high-end digital solutions for businesses and public organizations in the Commercial sector." />
    <link rel="stylesheet" type="text/css" href="/css/style.min.css" media="screen" />
    <meta name="viewport" content="width=device-width, user-scalable=1" />
    <script type="text/javascript" src="/js/deps-min.js"></script>
    <script type="text/javascript" async src="/js/player-min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header" class="section" data-limit=".15">
            <div class="header-bg"></div>

            <div class="header-inner">
                <a href="/" id="logo" alt="Go to homepage"> <img src="/Images/Logos/Line-by-Line_LogoBlack.png" title="Line-by-Line - Your Solution" alt="Line-by-Line Sleek Software Solutions" /></a>

                <div id="navigation">
                    <ul class="nav-links">
                        <li class="nav-item"><a href="/Company/CompanyHome">Company</a></li>
                        <li class="nav-item"><a href="/Services/ServicesHome">Services</a></li>
                    </ul>
                </div>
            </div>
            <div id="navigation-right">
                <ul class="nav-links">
                    <li class="nav-item"><a href="/Contact/ContactForm">Contact Us</a></li>
                </ul>
            </div>
            <div id="menu-close"></div>
            <div id="menu">
                <div id="menu-background"></div>

                <div id="menu-navigation">
                    <ul class="nav-links">
                        <li class="nav-item primary"><a href="/Company/CompanyHome">Company</a></li>
                        <li class="nav-item primary"><a href="/Contact/ContactForm">Contact Us</a></li>
                        <li class="nav-item secondary"><a href="/Services/Consultancy">Consultancy</a></li>
                        <li class="nav-item secondary"><a href="/Services/BrandingDesign">Branding & Design</a></li>
                        <li class="nav-item secondaryy"><a href="/Services/BespokeSoftware">Bespoke Software</a></li>
                        <li class="nav-item secondary"><a href="/Services/AgilePrototyping">Agile Prototyping</a></li>
                        <li class="nav-item secondary"><a href="/Services/Infrastructure">IT Infrastructure Services</a></li>
                    </ul>
                </div>
            </div>

            <button id="hamburger" aria-expanded="false" aria-controls="menu" aria-label="Menu" role="button" aria-haspopup="dialog">
                <div id="bar1" class="bar"></div>
                <div id="bar2" class="bar"></div>
                <div id="bar3" class="bar"></div>
            </button>
        </div>

        <div id="scroller">
            <div id="feature" class="section">
                <div id="parallax" class="background" data-speed="0.0025" data-desktop="/Images/Infrastructure/Infrastructure.png" data-mobile="/Images/Infrastructure/Infrastructure.png"></div>

                <div id="opacity" class="section-inner feature">
                    <div class="inner-left-bottom" style="background: rgba(0, 0, 0, 0.3);border-radius: 25px;padding: 25px;">
                        <h2 class="animate">IT Infrastructure</h2>
                        <p class="animate">
                            An intelligent IT infrastructure offers flexible solutions that facilitate quicker adaptation to new and more effective business models.
                            We review a customer's existing assets from the ground up and develop the right end-to-end infrastructure services.
                        </p>
                        <a class="btn animate" tabindex="0" onclick="href='/Contact/ContactForm'" data-container="Hello">
                            <div class="hover"></div>
                            <span class="text">Contact Us</span>
                        </a>
                    </div>
                    <div class="scrollme">
                        <svg width="30px" height="20px">
                            <path stroke="#ffffff" stroke-width="2px" d="M2.000,5.000 L15.000,18.000 L28.000,5.000 " />
                        </svg>
                    </div>
                </div>
            </div>

            <div id="article" class="section">
                <div class="content-columns">
                    <div class="collapse left">
                        <div class="column-image animate">
                            <picture class="responsive-image">
                                <img src="/Images/Infrastructure/Howitworks-Infrastructure.png" alt="">
                            </picture>
                        </div>
                        <div class="inner-right-middle">
                            <h3 class="animate">Step by step</h3>
                            <h2 class="animate">How it works</h2>
                            <p class="animate">
                                Our qualified Cloud technology specialists (AWS, Azure, GCP) follow all the tried and tested DevOps practices. Prior to starting any project, we meticulously calculate all the long and short-term objectives to outline our priorities and ensure that everything goes as smoothly as planned.
                                <br /><br />
                                Our DevOps methods are primarily inspired by the Agile and Lean principles, which means that we implement those techniques throughout the whole product development lifecycle.
                                <br /><br />
                                The foundation of DevOps is based on active collaboration between business owners and development, operations, and quality assurance teams. Our operation experts calculate our software development approach to align all the goals and work into a synchronized and streamlined plan that gets things done on time and around any budget.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div id="article" class="section">
                <div class="content-columns">
                    <div class="collapse right">
                        <div class="column-image animate">
                            <picture class="responsive-image">
                                <img src="/Images/Infrastructure/DevOps-Infrastructure.png" alt="">
                            </picture>
                        </div>
                        <div class="inner-left-middle">
                            <h3 class="animate">Progressive development</h3>
                            <h2 class="animate">What Dev-Ops Means for Your Business</h2>
                            <p class="animate">
                                DevOps services help businesses improve their software solutions and crank things up a notch to get the best from both the development and operations.
                                By implementing DevOps into our daily operations, Line-by-Line Software Solutions can provide a custom-tailored approach to every project we intend to work on.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="section-content">
                    <div class="content-center">
                        <h3 class="animate">Working with Line-by-Line</h3>
                        <h2 class="animate">Integrate DevOps Development Solutions to Benefit from:</h2>
                        <p class="animate">
                            The provided IT consulting services allow you to develop and implement a truly effective business continuity management program.
                            The decisions made are adequate for the enterprise and as straightforward as possible for the management, staff, customers, and business partners.
                        </p>
                        <div id="columns" class="section">
                            <div class="column3 rideshare-stats" style="height:250px;">
                                <img class="img animate" src="/Images/Content/calendar_icon.png" alt="">
                                <span class="animate">
                                    Uninterrupted delivery for enhanced post-launch operations.
                                </span>
                            </div>
                            <div class="column3 rideshare-stats" style="height:250px;">
                                <img class="img animate" src="/Images/Content/billing_icon.png" alt="">
                                <span class="animate">
                                    Steady unification to boost quality and speed up release time.
                                </span>
                            </div>
                            <div class="column3 rideshare-stats" style="height:250px;">
                                <img class="animate" src="/Images/Home/Customer-HomeCore.png" alt="">
                                <span class="animate">
                                    Extensible infrastructure to control intricate systems at little to no risks.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="article" class="section">
                <div class="content-columns">
                    <div class="collapse left">
                        <div class="column-image animate">
                            <picture class="responsive-image">
                                <img src="/Images/Infrastructure/Outsourced-Infrastructure.png" alt="">
                            </picture>
                        </div>
                        <div class="inner-right-middle">
                            <h3 class="animate">Helping hand</h3>
                            <h2 class="animate">Outsourced Dev-Ops Solutions</h2>
                            <p class="animate">
                                With the help of our outsourced DevOps coders, it will be more than achievable for you to stay above the competition that continues to implement changes and deploys IT products manually.
                                <br /><br />
                                The best DevOps practices speed up the development process as a whole, but it's even more important to understand that they grant the users unparalleled round-the-clock access to applications. 
                                That way, by automating your development process with the help of US Software Solutions' specialists, you will not only ease things up for yourself, but will win your customers' undivided allegiance.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="article" class="section">
                    <div class="content-columns">
                        <div class="collapse left">
                            <div class="column-image animate">
                                <picture class="responsive-image">
                                    <img src="/Images/Infrastructure/Tools-Infrastructure.png" alt="">
                                </picture>
                            </div>
                            <div class="inner-right-middle">
                                <h3 class="animate">Cutting-edge software</h3>
                                <h2 class="animate">Technologies and Tools</h2>
                                <p class="animate">
                                    Software Solutions DevOps experts employ a variety of innovative tools that ensure quality implementation, monitoring, delivery, logging, and infrastructure development:
                                    <ul class="custom-list">
                                        <li class="star">
                                            Container: <b>Docker</b>
                                        </li>
                                        <li>
                                            Clouds: <b>AWS, Azure & Google Cloud Platform</b>
                                        </li>
                                        <li>
                                            Monitoring: <b>Custom Application Insights and Keymetrics</b>
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="only--desktop" id="contact">
                    <div class="section-content" id="contact">
                        @if (ViewBag.Message == null)
                        {
                            <div class="content-columns">
                                <div class="collapse right">
                                    <div class="column animate" style="width:50%;">
                                        <form id="form" method="post">
                                            <div class="input-box active-grey">
                                                <label><h3 class="animate">Your Name</h3></label>
                                                <input asp-for="Name" type="text" class="input-1" />
                                                <span asp-validation-for="Name" class="text-muted"></span>
                                            </div>

                                            <div class="input-box active-grey">
                                                <label><h3 class="animate">Your Email</h3></label>
                                                <input asp-for="Email" type="text" class="input-1" />
                                                <span asp-validation-for="Email" class="text-muted"></span>
                                            </div>
                                            <div class="input-box active-grey">
                                                <label><h3 class="animate">Choose Service</h3></label>
                                                <select asp-for="Subject" class="input-1">
                                                    <option value="-1"></option>
                                                    <option value="General">General</option>
                                                    <option value="Support">Support</option>
                                                    <option value="Mobile">Mobile Development</option>
                                                    <option value="Website">Website Development</option>
                                                    <option value="Windows">Windows Development</option>
                                                    <option value="Android">Android Development</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                            <div class="input-box active-grey">
                                                <label><h3 class="animate">Your Message</h3></label>
                                                <textarea asp-for="Message" class="textinput"></textarea>
                                                <span asp-validation-for="Message" class="text-muted"></span>
                                            </div>
                                            <br />
                                            <button class="sendbtn" type="submit">Send</button>
                                        </form>
                                    </div>
                                    <div class="inner-left-middle">
                                        <h3 class="animate">Contact Us</h3>
                                        <h2 class="animate">Get in Touch</h2>
                                        <p class="animate">
                                            Do you have questions? We have answers! Fill in the form, and we’ll be happy to get back to you shortly.
                                            Need more details? We’re always glad to help! Just leave us your email, and our specialists will provide you with all the information you need. Simple as that!
                                            <br>
                                            <br>
                                            Feel free to share your thoughts, ideas, and concepts with us as well! If you feel like you got something – a unique proof of concept or an algorithm that’s bound to change the world as we know it,
                                            get in touch, and we’ll be delighted to help you get started!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="only--mobile" id="contact">
                    <div class="section-content" id="contact">
                        @if (ViewBag.Message == null)
                        {
                            <div class="content-columns">
                                <div class="collapse left">
                                    <div class="column animate">
                                        <h3 class="animate">Contact Us</h3>
                                        <h2 class="animate">Get in Touch</h2>
                                        <p class="animate">
                                            Do you have questions? We have answers! Fill in the form, and we’ll be happy to get back to you shortly.
                                            Need more details? We’re always glad to help! Just leave us your email, and our specialists will provide you with all the information you need. Simple as that!
                                            <br>
                                            <br>
                                            Feel free to share your thoughts, ideas, and concepts with us as well! If you feel like you got something – a unique proof of concept or an algorithm that’s bound to change the world as we know it,
                                            get in touch, and we’ll be delighted to help you get started!
                                        </p>
                                        <form id="form" method="post">
                                            <div class="input-box active-grey">
                                                <label><h3 class="animate">Your Name</h3></label>
                                                <input asp-for="Name" type="text" class="input-1" />
                                                <span asp-validation-for="Name" class="text-muted"></span>
                                            </div>

                                            <div class="input-box active-grey">
                                                <label><h3 class="animate">Your Email</h3></label>
                                                <input asp-for="Email" type="text" class="input-1" />
                                                <span asp-validation-for="Email" class="text-muted"></span>
                                            </div>
                                            <div class="input-box active-grey">
                                                <label><h3 class="animate">Choose Service</h3></label>
                                                <select asp-for="Subject" class="input-1">
                                                    <option value="-1">Consultancy</option>
                                                    <option value="General">Bespoke Software</option>
                                                    <option value="Support">IT Infrastructure</option>
                                                    <option value="Mobile">Branding & Design</option>
                                                    <option value="Website">Agile Prototyping</option>
                                                    <option value="Windows">Client Support</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                            </div>
                                            <div class="input-box active-grey">
                                                <label><h3 class="animate">Your Message</h3></label>
                                                <textarea asp-for="Message" class="textinput"></textarea>
                                                <span asp-validation-for="Message" class="text-muted"></span>
                                            </div>
                                            <br />
                                            <button class="sendbtn" type="submit">Send</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                @if (ViewBag.Message != null)
                {
                    <meta http-equiv="refresh" content="0; url='/Contact/ContactSuccess'" />
                    <div id="article" class="section content-center">
                        <h1 class="animate center-header">PLEASE WAIT....</h1>
                    </div>

                }
                <div id="footer">
                    <p>
                        <span>Line-by-Line Software Solutions &copy; 2022</span>
                        <a href="#" rel="noopener" target="_blank" class="social">TWITTER</a>
                        <a href="#" rel="noopener" target="_blank" class="social">INSTAGRAM</a>
                        <a href="" rel="noopener" target="_blank" class="social">LINKEDIN</a>
                        <a href="/media/PrivacyPolicy.pdf" target="_blank" class="social">PRIVACY POLICY</a>
                    </p>
                </div>
            </div>

            <div class="only--desktop" id="contact">
                <div class="section-content" id="contact">
                    @if (ViewBag.Message == null)
                    {
                        <div class="content-columns">
                            <div class="collapse right">
                                <div class="column animate" style="width:50%;">
                                    <form id="form" method="post">
                                        <div class="input-box active-grey">
                                            <label><h3 class="animate">Your Name</h3></label>
                                            <input asp-for="Name" type="text" class="input-1" />
                                            <span asp-validation-for="Name" class="text-muted"></span>
                                        </div>

                                        <div class="input-box active-grey">
                                            <label><h3 class="animate">Your Email</h3></label>
                                            <input asp-for="Email" type="text" class="input-1" />
                                            <span asp-validation-for="Email" class="text-muted"></span>
                                        </div>
                                        <div class="input-box active-grey">
                                            <label><h3 class="animate">Choose Service</h3></label>
                                            <select asp-for="Subject" class="input-1">
                                                <option value="-1"></option>
                                                <option value="General">General</option>
                                                <option value="Support">Support</option>
                                                <option value="Mobile">Mobile Development</option>
                                                <option value="Website">Website Development</option>
                                                <option value="Windows">Windows Development</option>
                                                <option value="Android">Android Development</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div class="input-box active-grey">
                                            <label><h3 class="animate">Your Message</h3></label>
                                            <textarea asp-for="Message" class="textinput"></textarea>
                                            <span asp-validation-for="Message" class="text-muted"></span>
                                        </div>
                                        <br />
                                        <button class="sendbtn" type="submit">Send</button>
                                    </form>
                                </div>
                                <div class="inner-left-middle">
                                    <h3 class="animate">Contact Us</h3>
                                    <h2 class="animate">Get in Touch</h2>
                                    <p class="animate">
                                        Do you have questions? We have answers! Fill in the form, and we’ll be happy to get back to you shortly.
                                        Need more details? We’re always glad to help! Just leave us your email, and our specialists will provide you with all the information you need. Simple as that!
                                        <br>
                                        <br>
                                        Feel free to share your thoughts, ideas, and concepts with us as well! If you feel like you got something – a unique proof of concept or an algorithm that’s bound to change the world as we know it,
                                        get in touch, and we’ll be delighted to help you get started!
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="only--mobile" id="contact">
                <div class="section-content" id="contact">
                    @if (ViewBag.Message == null)
                    {
                        <div class="content-columns">
                            <div class="collapse left">
                                <div class="column animate">
                                    <h3 class="animate">Contact Us</h3>
                                    <h2 class="animate">Get in Touch</h2>
                                    <p class="animate">
                                        Do you have questions? We have answers! Fill in the form, and we’ll be happy to get back to you shortly.
                                        Need more details? We’re always glad to help! Just leave us your email, and our specialists will provide you with all the information you need. Simple as that!
                                        <br>
                                        <br>
                                        Feel free to share your thoughts, ideas, and concepts with us as well! If you feel like you got something – a unique proof of concept or an algorithm that’s bound to change the world as we know it,
                                        get in touch, and we’ll be delighted to help you get started!
                                    </p>
                                    <form id="form" method="post">
                                        <div class="input-box active-grey">
                                            <label><h3 class="animate">Your Name</h3></label>
                                            <input asp-for="Name" type="text" class="input-1" />
                                            <span asp-validation-for="Name" class="text-muted"></span>
                                        </div>

                                        <div class="input-box active-grey">
                                            <label><h3 class="animate">Your Email</h3></label>
                                            <input asp-for="Email" type="text" class="input-1" />
                                            <span asp-validation-for="Email" class="text-muted"></span>
                                        </div>
                                        <div class="input-box active-grey">
                                            <label><h3 class="animate">Choose Service</h3></label>
                                            <select asp-for="Subject" class="input-1">
                                                <option value="-1">Consultancy</option>
                                                <option value="General">Bespoke Software</option>
                                                <option value="Support">IT Infrastructure</option>
                                                <option value="Mobile">Branding & Design</option>
                                                <option value="Website">Agile Prototyping</option>
                                                <option value="Windows">Client Support</option>
                                                <option value="Other">Other</option>
                                            </select>
                                        </div>
                                        <div class="input-box active-grey">
                                            <label><h3 class="animate">Your Message</h3></label>
                                            <textarea asp-for="Message" class="textinput"></textarea>
                                            <span asp-validation-for="Message" class="text-muted"></span>
                                        </div>
                                        <br />
                                        <button class="sendbtn" type="submit">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if (ViewBag.Message != null)
            {
                <meta http-equiv="refresh" content="0; url='/Contact/ContactSuccess'" />
                <div id="article" class="section content-center">
                    <h1 class="animate center-header">PLEASE WAIT....</h1>
                </div>

            }

            <div id="footer">
                <p>
                    <span>Line-by-Line Software Solutions &copy; 2022</span>
                    <a href="#" rel="noopener" target="_blank" class="social">TWITTER</a>
                    <a href="#" rel="noopener" target="_blank" class="social">INSTAGRAM</a>
                    <a href="" rel="noopener" target="_blank" class="social">LINKEDIN</a>
                    <a href="/media/PrivacyPolicy.pdf" target="_blank" class="social">PRIVACY POLICY</a>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const startingMinutes = 0.2;
        let time = startingMinutes * 60;
        const countdownEl = document.getElementById('countdown');
        setInterval(updateCountdown, 1000);

        function updateCountdown() {
            const minutes = Math.floor(time / 60);
            let seconds = time % 60;
            seconds = seconds < 10 ? '0' + seconds : seconds;
            countdownEl.innerHTML = minutes + ":" + seconds;
            time--;
        }
        window.addEventListener("load", function () {
            setTimeout(
                function open(event) {
                    document.querySelector(".popup").style.display = "block";
                },
                2000
            )
        });

        document.querySelector("#close").addEventListener("click", function () {
            document.querySelector(".popup").style.display = "none";
        });
        function sticktothetop() {
            var window_top = $(window).scrollTop();
            var top = $('#stick-here').offset().top;
            if (window_top > top) {
                $('#stickThis').addClass('stick');
                $('#stick-here').height($('#stickThis').outerHeight());
            } else {
                $('#stickThis').removeClass('stick');
                $('#stick-here').height(0);
            }
        }
        $(function () {
            $(window).scroll(sticktothetop);
            sticktothetop();
        });
    </script>
    <script type="text/javascript" src="/js/core-min.js"></script>
    <script type="text/javascript" src="/js/vehicles-min.js"></script>
    <script type="text/javascript" async src="/js/tabs-min.js"></script>
</body>
</html>