@model LBL_Solutions.Models.ContactMsgModel
@{
    ViewData["Title"] = "Contact Page";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/customSite.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="body">
        <a href="/Contact/Index"><img class="w3-image" src="/Images/Contact_Banner.png" alt="Architecture" width="1500" height="800"></a>

    <div class="w3-row-padding w3-center">
         <div class="w3-col l6 m6 w3-margin-bottom">
                       
 @if (ViewBag.Message == null)
            {
                <div>
                <form method="post">    
                    <div class="form-group">                            
                                <label asp-for="Name">Name</label>                            
                                <input asp-for="Name" class="form-control" placeholder="Your Full Name"/>                            
                                <span asp-validation-for="Name"                             
                                class="text-muted"></span>                        
                            </div>                        
                            <div class="form-group">                            
                                <label asp-for="Email">Email</label>                            
                                <input asp-for="Email" class="form-control" placeholder="Your Email Adderess" />                            
                                <span asp-validation-for="Email"                          
                                class="text-muted"></span>                        
                            </div>                        
                            <div class="form-group">                            
                                <label asp-for="Subject">Subject</label>                            
                                <input asp-for="Subject" class="form-control" placeholder="Message Subject" />                            
                                <span asp-validation-for="Subject"
                                class="text-muted"></span>                        
                            </div>                        
                            <div class="form-group">                            
                                <label asp-for="Message">Your Message</label>                            
                                <textarea rows="5" cols="15" asp-for="Message" class="form-control"></textarea>                               
                                <span asp-validation-for="Message" class="text-muted"></span>              
                            </div>
                            
                            <div> 
                                <br />
                                <button type="submit" class="btn btn-success">Send </button>                            
                            </div>                           
                        </form>           
                    </div>    
                }  
</div>
     <div class="w3-col l6 m6 w3-margin-bottom">   
         <div class="w3-card">
                     <h3 class="w3-serif w3-text-white h3">Alternative Contact Details</h3>
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-instagram"></a>

      <h5 class="w3-serif w3-text-dark-gray w3-text-dark-gray h5">
              Call/WhatsApp/SMS Branden : +27 (081) 565 0206 <br />                    
    Email Address : <a>brandenconnected@gmail.com</a>
      </h5>
      </div>

      </div>
</div>



                                      
@if (ViewBag.Message != null)                               
{                  
          <div class="row">
              <div class="column">
                  Please Wait....
              </div>
              <div class="column">
                  Loading....
              </div>
          </div>                           
    <div class="popup">                                    
        <h2>Sent! Be in Touch Soon!</h2>                                          
        <a href="https://linebylinesolutions.azurewebsites.net">Please wait while we redirect you</a>                                                      
        <div id="countdown-container">                                       
            <div id="countdown">                                   
                <b><span id="time">12s</span></b>                                          
            </div></div>                                     
        </div>                                     
        <meta http-equiv="refresh" content="12; url='https://linebylinesolutions.azurewebsites.net'" />
    <script type="text/javascript">
    const startingMinutes =0.2;   
    let time=startingMinutes*60;   
    const countdownEl=document.getElementById('countdown');   
    setInterval(updateCountdown, 1000);
   
    function updateCountdown(){      
        const minutes=Math.floor(time/60);      
        let seconds= time % 60;      
        seconds=seconds < 10 ? '0' + seconds : seconds;      
        countdownEl.innerHTML=minutes+":"+seconds;      
        time--;  
    }
    window.addEventListener("load", function(){
    setTimeout(
        function open(event){
            document.querySelector(".popup").style.display = "block";
        },
        2000 
    )
});


document.querySelector("#close").addEventListener("click", function(){
    document.querySelector(".popup").style.display = "none";
});
</script>
                                }

</body>
</html>

   
