@model LBL_Solutions.Models.ContactMsgModel 
@{ 
    ViewData["Title"] = "Contact Page"; Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<system.webServer>
    <security>
        <dynamicIpSecurity denyAction="Forbidden">
            <denyByConcurrentRequests enabled="true" maxConcurrentRequests="10" />
            <denyByRequestRate enabled="true" maxRequests="30"
                               requestIntervalInMilliseconds="300" />
        </dynamicIpSecurity>
    </security>
</system.webServer>
<head>
    @*Title*@
    <title>Enquiry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="Line-by-line Software Soultions" />
    <meta name="keywords" content="informationtechnology, IT, software, services, development, websites, mobile, Android, iOS, Windows, PWA" />
    <meta name="description" content="Building new and innovative technologies with software. Providing a service to clients to help them create Websites, Progressive Web Applications (PWA), Mobile applications, Windows applications and Android applications for client brands or companies." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Line-by-Line Software Solutions" />
    <meta property="og:description" content="We Build Innovative Software for Clients - Websites, Web Apps, Android Apps, iOS Apps and Windows Apps." />
    <meta property="og:site_name" content="Line-by-Line Software Solutions" />
    <meta property="og:image" content="/Images/Logos/Line-by-Line_LogoBlack.png" />
    <meta itemprop="name" content="Line-by-Line Software Solutions" />
    <meta itemprop="image" content="/Images/Logos/Line-by-Line_LogoBlack.png" />
    <meta property="og:url" content="https://linebylinesolutions.azurewebsites.net" />
    <link rel="shortcut icon" type="image/x-icon" href="/Images/Logos/logo.ico" />

    <meta name="description" content="We Build Innovative Software for Clients - Websites, Web Apps, Android Apps, iOS Apps and Windows Apps." />
    <link rel="stylesheet" type="text/css" href="/css/style.min.css" media="screen" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="/js/deps-min.js"></script>
    <script type="text/javascript" async src="/js/player-min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="header" class="section" data-limit=".15">
            <div class="header-bg"></div>

            <div class="header-inner">
                <a href="/" id="logo" alt="Go to homepage"> <img src="/Images/Logos/Line-by-Line_LogoBlack.png" title="Line-by-Line - Your Solution" alt="Line-by-Line Sleek Software Solutions" /></a>

                <div id="navigation">
                    <ul class="nav-links">
                        <li class="nav-item"><a href="/Team/Branden">View Developer</a></li>
                        <li class="nav-item"><a href="/Prices/Index">Our Prices</a></li>
                    </ul>
                </div>
            </div>
            <div id="navigation-right">
                <ul class="nav-links">
                    <li class="nav-item"><a href="#" rel="noopener" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
            <div id="menu-close"></div>
            <div id="menu">
                <div id="menu-background"></div>

                <div id="menu-navigation">
                    <ul class="nav-links">
                        <li class="nav-item primary"><a href="/Team/Branden">View Developer</a></li>
                        <li class="nav-item primary"><a href="/Prices/Index">Our Prices</a></li>
                        <li class="nav-item secondary"><a href="/Home/ComingSoon">Website & Web Development</a></li>
                        <li class="nav-item secondary"><a href="/Home/ComingSoon">Android & iOS Development</a></li>
                        <li class="nav-item secondary"><a href="/Home/ComingSoon">Windows Development</a></li>
                    </ul>
                </div>
            </div>
            <button id="hamburger" aria-expanded="false" aria-controls="menu" aria-label="Menu" role="button" aria-haspopup="dialog">
                <div id="bar1" class="bar"></div>
                <div id="bar2" class="bar"></div>
                <div id="bar3" class="bar"></div>
            </button>
        </div>
        <div id="scroller">
            <div class="only--desktop">
                <div id="feature" class="section">
                    @if (ViewBag.Message == null) {
                    <div id="opacity" class="section-inner feature">
                        <div class="section-inner resize">
                            <div class="inner-left-middle">
                                <h3 class="animate">How can we help you?</h3>
                                <h2 class="animate">Find The Right Solution for You</h2>
                            </div>
                            <div class="inner-right-middle">
                                <form id="form" method="post" style="align-content:flex-start">
                                    <div class="input-box active-grey">
                                        <label><h3 class="animate">Your Name</h3></label>
                                        <input asp-for="Name" type="text" class="input-1" />
                                        <span asp-validation-for="Name" class="text-muted"></span>
                                    </div>

                                    <div class="input-box active-grey">
                                        <label><h3 class="animate">Your Email</h3></label>
                                        <input asp-for="Email" type="text" class="input-1" />
                                        <span asp-validation-for="Email" class="text-muted"></span>
                                    </div>
                                    <div class="input-box active-grey">
                                        <label><h3 class="animate">Your Subject</h3></label>
                                        <select asp-for="Subject" class="input-1">
                                                <option value="-1"></option>
                                                <option value="General">General</option>
                                                <option value="Support">Support</option>
                                                <option value="Mobile">Mobile Development</option>
                                                <option value="Website">Website Development</option>
                                                <option value="Windows">Windows Development</option>
                                                <option value="Android">Android Development</option>
                                                <option value="Other">Other</option>
                                            </select>
                                    </div>
                                    <div class="input-box active-grey">
                                        <label><h3 class="animate">Your Message</h3></label>
                                        <textarea asp-for="Message" class="textinput"></textarea>
                                        <span asp-validation-for="Message" class="text-muted"></span>
                                    </div>
                                    <br />                                        
                                    <button class="sendbtn" type="submit">Send</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    }

                </div>
            </div>

            <div class="only--mobile">
                <div id="feature" class="section">
                    @if (ViewBag.Message == null) {
                    <div class="section section-dc">
                        <div class="section-inner">
                            <div class="text-columns">
                                <div class="text-column">
                                    <form id="form" method="post" style="align-content:flex-start">
                                        <div class="input-box active-grey">
                                            <label><h3 class="animate">Your Name</h3></label>
                                            <input asp-for="Name" type="text" class="input-1" />
                                            <span asp-validation-for="Name" class="text-muted"></span>
                                        </div>
                                        <div class="input-box active-grey">
                                            <label><h3 class="animate">Your Email</h3></label>
                                            <input asp-for="Email" type="text" class="input-1" />
                                            <span asp-validation-for="Email" class="text-muted"></span>
                                        </div>
                                        <div class="input-box active-grey">
                                            <label><h3 class="animate">Your Subject</h3></label>
                                            <select asp-for="Subject" class="input-1">
                                                    <option value="-1"></option>
                                                    <option value="General">General</option>
                                                    <option value="Support">Support</option>
                                                    <option value="Mobile">Mobile Development</option>
                                                    <option value="Website">Website Development</option>
                                                    <option value="Windows">Windows Development</option>
                                                    <option value="Android">Android Development</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                        </div>
                                        <div class="input-box active-grey">
                                            <label><h3 class="animate">Your Message</h3></label>
                                            <textarea asp-for="Message" class="textinput"></textarea>
                                            <span asp-validation-for="Message" class="text-muted"></span>
                                        </div>
                                            <button class="sendbtn" type="submit">Send</button>
                                    </form>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <div class="scrollme">
                    <svg width="30px" height="20px">
                        <path stroke="#ffffff" stroke-width="2px" d="M2.000,5.000 L15.000,18.000 L28.000,5.000 " />
                    </svg>
                </div>
            </div>

            @if (ViewBag.Message != null) {

            <div id="feature" class="section">
                <div id="opacity" class="section-inner feature">
                        <div class="section-inner opacity">
                        <div class="inner-center">
                            <h3 class="animate">Thank You</h3>
                            <h2 class="animate">We Will Contact You Shortly.</h2>
                            <p><a href="https://linebylinesolutions.azurewebsites.net">Please wait while we redirect you</a></p>
                            <div id="countdown-container">
                                <div id="countdown">
                                    <p><b><span id="time">12s</span></b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <meta http-equiv="refresh" content="12; url='https://linebylinesolutions.azurewebsites.net'" /> }
            <div class="section section-dc">
                <div class="section-inner">
                    <div class="text-columns">
                        <div class="text-column">
                            <p><b>Alternative Contact Details</b></p>
                            <p></p>
                            <ul>
                                <li>Call/WhatsApp/SMS Branden :</li>
                                <li>+27 (081) 565 0206</li>
                                <li>Email Address :</li>
                                <li><a>brandenconnected@gmail.com</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="footer">
                <p>
                    <span>Line-by-Line Software Solutions &copy; 2022</span>
                    <a href="#" rel="noopener" target="_blank" class="social">TWITTER</a>
                    <a href="#" rel="noopener" target="_blank" class="social">INSTAGRAM</a>
                    <a href="" rel="noopener" target="_blank" class="social">LINKEDIN</a>
                    <a href="/media/PrivacyPolicy.pdf" target="_blank" class="social">PRIVACY POLICY</a>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const startingMinutes = 0.2;
        let time = startingMinutes * 60;
        const countdownEl = document.getElementById('countdown');
        setInterval(updateCountdown, 1000);

        function updateCountdown() {
            const minutes = Math.floor(time / 60);
            let seconds = time % 60;
            seconds = seconds < 10 ? '0' + seconds : seconds;
            countdownEl.innerHTML = minutes + ":" + seconds;
            time--;
        }
        window.addEventListener("load", function () {
            setTimeout(
                function open(event) {
                    document.querySelector(".popup").style.display = "block";
                },
                2000
            )
        });

        document.querySelector("#close").addEventListener("click", function () {
            document.querySelector(".popup").style.display = "none";
        });
    </script>
    <script type="text/javascript" src="/js/core-min.js"></script>

    <script type="text/javascript" src="/js/vehicles-min.js"></script>

    <script type="text/javascript" async src="/js/tabs-min.js"></script>

</body>

</html>