<!DOCTYPE html> 
@{
    ViewData["Title"] = "Home Page"; Layout = null; 
}
<html lang="en">
<system.webServer>
    <security>
        <dynamicIpSecurity denyAction="Forbidden">
            <denyByConcurrentRequests enabled="true" maxConcurrentRequests="10" />
            <denyByRequestRate enabled="true" maxRequests="30"
                               requestIntervalInMilliseconds="300" />
        </dynamicIpSecurity>
    </security>
</system.webServer>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="Line-by-line Software Soultions" />
    <meta name="keywords" content="informationtechnology, IT, software, services, development, websites, mobile, Android, iOS, Windows, PWA" />
    <meta name="description" content="Building new and innovative technologies with software. Providing a service to clients to help them create Websites, Progressive Web Applications (PWA), Mobile applications, Windows applications and Android applications for client brands or companies." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Line-by-Line Software Solutions" />
    <meta property="og:description" content="We Build Innovative Software for Clients - Websites, Web Apps, Android Apps, iOS Apps and Windows Apps." />
    <meta property="og:site_name" content="Line-by-Line Software Solutions" />
    <meta property="og:image" content="https://linebylinesolutions.azurewebsites.net/Images/Logos/Line-by-Line_Logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/Images/Logos/logo.ico" />
    <meta itemprop="name" content="Line-by-Line Software Solutions" />
    <meta itemprop="image" content="https://linebylinesolutions.azurewebsites.net/Images/Logos/Line-by-Line_Logo.png" />
    <meta property="og:url" content="https://linebylinesolutions.azurewebsites.net" />
    <meta name="description" content="We Build Innovative Software for Clients - Websites, Web Apps, Android Apps, iOS Apps and Windows Apps." />
    <title>Line-by-Line Sleek Software Solutions</title>
    <link rel="stylesheet" type="text/css" href="/css/style.min.css" media="screen" />
    <meta name="viewport" content="width=device-width, user-scalable=1" />
    <script type="text/javascript" src="/js/deps-min.js"></script>
    <script type="text/javascript" async src="/js/player-min.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header" class="section" data-limit=".15">
            <div class="header-bg"></div>

            <div class="header-inner">
                <a href="/" id="logo" alt="Go to homepage"> <img src="/Images/Logos/Line-by-Line_LogoBlack.png" title="Line-by-Line - Your Solution" alt="Line-by-Line Sleek Software Solutions" /></a>

                <div id="navigation">
                    <ul class="nav-links">
                        <li class="nav-item"><a href="/Company/CompanyHome">Company</a></li>
                        <li class="nav-item"><a href="/Services/ServicesHome">Services</a></li>
                    </ul>
                </div>
            </div>
            <div id="navigation-right">
                <ul class="nav-links">
                    <li class="nav-item"><a href="/Contact/ContactForm">Contact Us</a></li>
                </ul>
            </div>
            <div id="menu-close"></div>
            <div id="menu">
                <div id="menu-background"></div>

                <div id="menu-navigation">
                    <ul class="nav-links">
                        <li class="nav-item primary"><a href="/Company/CompanyHome">Company</a></li>
                        <li class="nav-item primary"><a href="/Contact/ContactForm">Contact Us</a></li>
                        <li class="nav-item secondary"><a href="/Services/Consultancy">Consultancy</a></li>
                        <li class="nav-item secondary"><a href="/Services/BrandingDesign">Branding & Design</a></li>
                        <li class="nav-item secondaryy"><a href="/Services/BespokeSoftware">Bespoke Software</a></li>
                        <li class="nav-item secondary"><a href="/Services/AgilePrototyping">Agile Prototyping</a></li>
                        <li class="nav-item secondary"><a href="/Services/Infrastructure">IT Infrastructure Services</a></li>
                    </ul>
                </div>
            </div>

            <button id="hamburger" aria-expanded="false" aria-controls="menu" aria-label="Menu" role="button" aria-haspopup="dialog">
                    <div id="bar1" class="bar"></div>
                    <div id="bar2" class="bar"></div>
                    <div id="bar3" class="bar"></div>
                </button>
        </div>

        <div id="scroller">
            <div id="feature" class="section">
                <div id="parallax" class="background" data-speed="0.0025" data-desktop="/Images/Backgrounds/1.png" data-mobile="/Images/Backgrounds/2.png"></div>

                <div id="opacity" class="section-inner feature">
                    <div class="inner-left-bottom">
                        <h3 class="animate">Line-by-Line Software Solutions</h3>

                        <h2 class="animate">Simple solutions to complex problems</h2>

                        <a class="btn animate" tabindex="0" onclick="href='/Contact/ContactForm'" data-container="Hello">
                            <div class="hover"></div>
                            <span class="text">Contact Us</span>
                        </a>
                    </div>

                    <div class="scrollme">
                        <svg width="30px" height="20px">
                                <path stroke="#ffffff" stroke-width="2px" d="M2.000,5.000 L15.000,18.000 L28.000,5.000 " />
                            </svg>
                    </div>
                </div>
            </div>

            <div id="article" class="section">
                <div class="content-columns">
                    <div class="collapse left">
                        <div class="column-image animate">
                            <picture class="responsive-image">
                                <img src="/Images/Home/DiscoverLBL-Home.png" alt="">
                            </picture>
                        </div>
                        <div class="inner-right-middle">
                            <h3 class="animate">Discover</h3>

                            <h2 class="animate">Line-by-Line Software Solutions</h2>
                            <p class="animate">
                                Line-by-Line Software Solutions offers a full range of IT services focused on delivering high-end digital solutions
                                for businesses and public organizations in the Commercial Sector. Thanks to a team consisting exclusively of
                                experts in their field, we are ready to supervise any project, regardless of its complexity and scale.                         
                            </p>
                            <a class="btn animate" tabindex="0" onclick="href='/Company/CompanyHome'" data-container="Hello">
                                <div class="hover"></div>
                                <span class="text">Company</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="uses" class="slider quickjump section swiper-container collapse">
                <div class="swiper-wrapper resize">
                    <div class="swiper-slide">
                        <div class="gallery-background gallery-full resize_gallery" data-preload data-mobile="/Images/Home/Consoltancy-HomeService.png" data-desktop="/Images/Home/Consoltancy-HomeService.png" style="background-size: contain;"></div>

                        <div class="section-inner resize">
                            <div class="inner-left-middle">
                                <h3 class="animate js-bounding">Intuitive</h3>

                                <h2 class="animate">Consultancy</h2>

                                <p class="animate">
                                    All our products are designed with the users’ interests in mind
                                </p>
                                <a class="btn animate" tabindex="0" onclick="href='/Services/Consultancy'" data-container="Hello">
                                    <div class="hover"></div>
                                    <span class="text">Learn more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-background gallery-full resize_gallery" data-preload data-mobile="Images/Home/Agile-HomeService.png" data-desktop="/Images/Home/Agile-HomeService.png" style="background-size: contain;"></div>

                        <div class="section-inner resize">
                            <div class="inner-left-middle">
                                <h3 class="animate">Practical</h3>

                                <h2 class="animate">Agile Prototyping</h2>

                                <p class="animate">
                                    We deliver efficient, highly versatile software solutions
                                </p>
                                <a class="btn animate" tabindex="0" onclick="href='/Services/AgilePrototypin'" data-container="Hello">
                                    <div class="hover"></div>
                                    <span class="text">Learn more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-background gallery-full resize_gallery" data-preload data-mobile="/Images/Home/Bespoke-HomeService.png" data-desktop="/Images/Home/Bespoke-HomeService.png" style="background-size: contain;"></div>

                        <div class="section-inner resize">
                            <div class="inner-left-middle">
                                <h3 class="animate">Innovative</h3>
                                <h2 class="animate">Bespoke Software</h2>
                                <p class="animate">                        
                                    The techniques we apply are cutting-edge and groundbreaking
                                </p>
                                <a class="btn animate" tabindex="0" onclick="href='/Services/BespokeSoftware'" data-container="Hello">
                                    <div class="hover"></div>
                                    <span class="text">Learn more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="gallery-background gallery-full resize_gallery" data-preload data-mobile="/Images/Home/Design-HomeService.png" data-desktop="/Images/Home/Design-HomeService.png" style="background-size: contain;"></div>

                        <div class="section-inner resize">
                            <div class="inner-left-middle">
                                <h3 class="animate">Inventive</h3>
                                <h2 class="animate">Branding & Design</h2>
                                <p class="animate">
                                    Our methods are creative and exceptionally adaptable
                                </p>
                                <a class="btn animate" tabindex="0" onclick="href='/Services/BrandingDesign'" data-container="Hello">
                                    <div class="hover"></div>
                                    <span class="text">Learn more</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="gallery-prev-use" class="gallery-prev swiper-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                            <path d="M5,6a.908.908,0,0,1-.7-.3l-4-4A.967.967,0,0,1,.3.3.967.967,0,0,1,1.7.3L5,3.6,8.3.3A.967.967,0,0,1,9.7.3a.967.967,0,0,1,0,1.4l-4,4A.908.908,0,0,1,5,6Z" transform="translate(6) rotate(90)" fill="#fff" />
                        </svg>
                </div>
                <div id="gallery-next-use" class="gallery-next swiper-button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
                            <path
								d="M5,6a.908.908,0,0,1-.7-.3l-4-4A.967.967,0,0,1,.3.3.967.967,0,0,1,1.7.3L5,3.6,8.3.3A.967.967,0,0,1,9.7.3a.967.967,0,0,1,0,1.4l-4,4A.908.908,0,0,1,5,6Z"
								transform="translate(0 10) rotate(-90)"
								fill="#fff"
							/>
                        </svg>
                </div>
            </div>            
            <script>
                new Swiper ('#uses', {
                                        direction: 'horizontal',
                                        loop: true,
                                        speed: 1500,
                                        simulateTouch: false,
                                        pagination: false,
                                        navigation: {
                                          nextEl: '#gallery-next-use',
                                          prevEl: '#gallery-prev-use',
                                        }
                                    });
            </script>
            <div id="columns" class="section">
                <div class="content-center">
                    <h2 class="animate">Core Values</h2>
                    <p class="animate">
                        Our Core Values guide and inspire us to provide high-quality software solutions to our customers.
                    </p>
                    <div class="column3 rideshare-stats">
                        <img class="img animate" src="/Images/Home/Results-HomeCore.png" alt="">
                        <h3 class="animate">Deliver Results</h3>
                        <span class="animate">
                            Line-by-Line Software is an innovation and engineering company that advises clients on product strategy,
                            engineering, design, and culture, then partners with them to build and launch technology-driven solutions to their problems.
                        </span>
                    </div>
                    <div class="column3 rideshare-stats">
                        <img class="img animate" src="/Images/Home/Ownership-HomeCore.png" alt="">
                        <h3 class="animate">Ownership</h3>
                        <span class="animate">
                            Unlike the traditional players, we optimize for small teams,
                            lean budgets, consistent and sustainable velocity, transparency,
                            and expertise. We build a long-lasting relationship not just deliverables.
                        </span>
                    </div>
                    <div class="column3 rideshare-stats">
                        <img class="animate" src="/Images/Home/Customer-HomeCore.png" alt="">
                        <h3 class="img animate">Customer-centered</h3>
                        <span class="animate">
                            We opt for a user-driven experience that is custom-tailored to meet any needs.
                            We know that putting the customer above all else is nothing new, but here’s the thing –
                            we care about every project and put our everything on the table.
                        </span>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-content">
                    <div class="content-center">
                        <div class="line-tall animate"></div>
                        <h3 class="animate js-bounding">This could be the start of something great</h3>
                        <h2 class="animate">Take the next step</h2>
                        <a class="btn large animate" tabindex="0" href="/Services/ServicesHome">
                            <div class="hover"></div>
                            <div class="text">Services</div>
                        </a>
                        <a class="btn large animate" tabindex="0" href="/Company/CompanyHome">
                            <div class="hover"></div>
                            <div class="text">Company</div>
                        </a>
                        <a class="btn large animate" tabindex="0" href="/Contact/ContactForm">
                            <div class="hover"></div>
                            <div class="text">Contact Us</div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="footer">
                <p>
                    <span>Line-by-Line Software Solutions &copy; 2022</span>
                    <a href="#" rel="noopener" target="_blank" class="social">TWITTER</a>
                    <a href="#" rel="noopener" target="_blank" class="social">INSTAGRAM</a>
                    <a href="" rel="noopener" target="_blank" class="social">LINKEDIN</a>
                    <a href="/media/PrivacyPolicy.pdf" target="_blank" class="social">PRIVACY POLICY</a>
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/core-min.js"></script>      
    <script type="text/javascript" src="/js/vehicles-min.js"></script>
    <script type="text/javascript" async src="/js/tabs-min.js"></script>
</body>

</html>