@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>

        <link rel="stylesheet" href="/css/customSite.css">
    <link rel="stylesheet" href="/css/site.css">
      <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>

<body class="body">
    <br />
     <div class="div-desktop">
        <div class="w3-content w3-padding-32" style="margin-top:25px">
        <div id="slider">
<div class="slides">

<!-- First slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1>Android & iOS Development</h1>
<h2>Spealizing in Mobile Applications, Show Your Competitors how Serious You Are - Dominate Your Market</h2>
</div>
</div>
<div class="image">
<img class="sfimg" src="/Images/2.png" alt="slideImg#2" />
</div>
</div>

<!-- Second slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1>Website & Web Development</h1>
<h2>Don't Settle for Mediocre - Choose Line-by-Line Solutions and Start Getting Excited!</h2>
</div>
</div>
<div class="image">
<img class="sfimg" src="/Images/1.png" alt="slideImg#1"  />
</div>
</div>

<!-- Third slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1>Building Software For The Future</h1>
<h2>See Your Brand be The Pioneer with Innovative Technologies & Design</h2>
</div>
</div>
<div class="image">
<img class="sfimg" src="/Images/2.png" alt="slideImg#2" />
</div>
</div>

<!-- Fourth slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1>Full-Stack Software Development</h1>
<h2>Branden van Staden<br />
    Let's Find The Solution That Works for You</h2>
</div>
</div>
<div class="image">
<img class="sfimg" src="/Images/1.png" alt="slideImg#4"  />
</div>
</div>
</div>
</div>
</div>
 </div>
 <div class="div-mobile">
               
     <div class="w3-content w3-padding-32" style="margin-top:25px">        
         <div id="slider">
             <div class="slides">
<!-- First slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1>Android & iOS Development</h1>
<h2>Spealizing in Mobile Applications, Show Your Competitors how Serious You Are - Dominate Your Market</h2>
</div>
</div>
<div class="image">
<img class="sfimg" src="/Images/1.png" alt="slideImg#2" />
</div>
</div>

<!-- Second slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1>Website & Web Development</h1>
<h2>Don't Settle for Mediocre - Choose Line-by-Line Solutions and Start Getting Excited!</h2>
</div>
</div>
<div class="image">
<img class="sfimg" src="/Images/2.png" alt="slideImg#1"  />
</div>
</div>

<!-- Third slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1>Building Software For The Future</h1>
<h2>See Your Brand be The Pioneer with Innovative Technologies & Design</h2>
</div>
</div>
<div class="image">
<img class="sfimg" src="/Images/1.png" alt="slideImg#2" />
</div>
</div>

<!-- Fourth slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1>Full-Stack Software Development</h1>
<h2>Branden van Staden<br />
    Let's Find The Solution That Works for You</h2>
</div>
</div>
<div class="image">
<img class="sfimg" src="/Images/2.png" alt="slideImg#4"  />
</div>
</div>
</div>
</div>
</div>
 </div>
<div class="w3-content w3-padding w3-margin-left w3-margin-right">

  <!-- Services Section -->    
  <div class="w3-container w3-padding-16" id="Services">
    <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center w3-serif w3-text-white h2">Why Choose Line-by-Line Solutions?</h2>        
    </div>  
    
  <div class="w3-row-padding w3-grayscale"> 
    <div class="w3-col l9 m6  w3-margin-bottom">
        <h3 class="w3-serif w3-text-white h3">App Development</h3><br />           
        <a href="/Contact/Index"><img class="framed3 w3-centered" src="/Images/Android_App.gif" loading="lazy" style="max-height:350px; max-width:350px" /></a><br /><br />
        <h4 class="w3-serif w3-text-dark-gray h4">                   
            Line-by-Line Solutions Offers a Custom and Modern Design Coupled with Detailed Planning and Project Management to Build and Deploy Your Mobile Apps.<br />
            Mobile Apps are Becoming a Common Assets Among Successful Companies and Brands, Line-by-Line Solutions Will Provide a Solution that Fits your Needs and Budget.<br />
          This is Achieved Through Adopting Agile Methodologies to Build and Deploy your Solution onto Both Android and iOS devices.
          Making use of the Most Innovative and Modern design Technologies in Mobile Application Development Your Brand Will Have a Competitive Edge. 
          Line-by-Line mobile App's will blow you and your clients away.  will Building Android and iOS Applications for client.<br />
          Ranging from Ecommerce App's to Blogs, Line-by-Line Solutions Will Do It All.
        </h4>


@*        <br /><button class="w3-button w3-border-dark-gray w3-amber w3-hover-blue">Learn More</button>
*@    </div>           
    <div class="w3-col l9 m6 w3-margin-bottom">
  

 
        <h3 class="w3-serif w3-text-white h3">Windows Development</h3><br />           
        <a href="/Contact/Index"><img class="framed3 w3-centered" src="/Images/Windows_Application.gif" loading="lazy" style="max-height:350px; max-width:350px" /></a><br /><br />
        <h4 class="w3-serif w3-text-dark-gray h4">
            Specialized in this niche market, Line-by-Line offers a personal Design for your Windows Application needs.<br /> 
            Making use of Build, Test and Deploy Phases your Solution will Integrate into any Windows Operating System with ease.
            With innovating technology such as .NET Framework and WPF styles - Your Custom/Branded Windows Application has Never Looked so Good<br />
            From Managing your Point of Sales to Your Personal Websites Through a Single or Separate Windows Application - You can Trust that Line-by-Line Solutions Can Do It.
        </h4>
@*        <br /><button class="w3-button w3-border-dark-gray w3-amber w3-hover-blue">Learn More</button>
*@    </div>  
     

    <div class="w3-col l9 m6 w3-margin-bottom" style="position:relative">
        <h3 class="w3-serif w3-text-white h3">Web Development</h3><br />           
        <a href="/Contact/Index"><img class="framed3 w3-centered" src="/Images/Website_build.gif" loading="lazy" style="max-height:350px; max-width:350px" /></a><br /><br />
        <h4 class="w3-serif w3-text-dark-gray h4">
            Website and Web Application’s are in Demand with Predictions of Growth to be Exponential.<br />
            Line-by-Line Solutions Offer a Detailed Approach with Web Development. <br />
            Making Sure Your Brand gets the Attention to Detail it Deserves. Choosing Line-by-Line Solutions to Design, Build and Publish your Website/s and Web Application/s is a Smart Idea - 
            with Effective Communication and Planning Coupled with a Rapid Execution Phase making use of Agile Methodologies You will Be Relieved to have Chosen Line-by-Line Solutions.
        </h4>
@*        <button class="w3-button w3-border-dark-gray w3-amber w3-hover-blue">Learn More</button>
*@    </div>
    <div class="w3-col l9 m6 w3-margin-bottom" style="position:relative">
        <h3 class="w3-serif w3-text-white  h3">Qualified Full-Stack Developer</h3><br />           
        <a href="/Contact/Index"><img class="framed3 w3-centered" src="/Images/Idea.gif" loading="lazy" style="max-height:350px; max-width:350px" /></a><br /><br />
        <h4 class="w3-serif w3-text-dark-gray h4">       
            Having a Full-Stack Developer Design, Build and Deploy Your Solutions has Many Benefits. These Include High Quality Results with Great Efficacy - 
            Meaning You Don't have to Wait Months to see Results. With Full-Stack Development, 
            You can Expect Attention to Detail and a Unique Approach that will give Your Brand the Competitive Edge. 
            Find a Solution has Never been so Easy! Contact Branden van Staden - Official Developer for Line-by-Line Solutions to Book a Consolation.

        </h4>
@*        <button class="w3-button w3-border-dark-gray w3-amber w3-hover-blue">Learn More</button>
*@    </div>

 </div>
  <!-- Profile Section -->  
  
      <div class="w3-container w3-padding-64" id="Developer">
    <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center w3-serif w3-text-white h2">Full-Stack Software Developer</h2>
       
</div>

<div class="w3-row-padding w3-center">
         <div class="w3-col l6 m6 w3-margin-bottom">
                       
             <a style="text-decoration:none" href="https://linebylinesolution.azurewebsites.net/Team/Branden"><img class="framed3" src="/Images/Branden_vs_profile.png" alt="Branden" style="max-height:350px; max-width:350px" /></a>

</div>
     <div class="w3-col l6 m6 w3-margin-bottom">   
         <div class="w3-card">
             <br />
             <br />
          <h3 class="w3-serif w3-text-white h3">Branden van Staden</h3>
      <h5 class="w3-serif w3-text-dark-gray w3-text-dark-gray h5">
          CEO & Founder of Line-by-Line Solutions<br />
          Full-Stack Software Developer and Engineer<br />
      </h5>
      <h6 class="w3-serif w3-text-dark-gray w3-light-gray h6">
           Web - Mobile - Ecommerce - Windows - Cloud<br />
           Location: Cape Town, Western Cape<br />
           South Africa
      </h6>      

           <button onClick="location.href='/Contact/Index'"  class="w3-button w3-border-dark-gray w3-amber w3-hover-blue">Book a consultation</button>
<br />
<br />
      </div>

      </div>
</div>
<!-- End page content -->
      <div class="sticky-btn">   
<button class="button-sticky" onclick="location.href='/Contact/Index'" alt="Email icons created by Freepik - Flaticon" title="Get in Touch"><img src="/Images/email.png" style="height:25px; width:25px"/></button>
  </div>

  </div>
</body>
</html>

