<!DOCTYPE html> @{ ViewData["Title"] = "Home Page"; Layout = null; }
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="Line-by-line Software Soultions" />
    <meta name="keywords" content="informationtechnology, IT, software, services, development, websites, mobile, Android, iOS, Windows, PWA" />
    <meta name="description" content="Building new and innovative technologies with software. Providing a service to clients to help them create Websites, Progressive Web Applications (PWA), Mobile applications, Windows applications and Android applications for client brands or companies." />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Line-by-Line Software Solutions" />
    <meta property="og:description" content="We Build Innovative Software for Clients - Websites, Web Apps, Android Apps, iOS Apps and Windows Apps." />
    <meta property="og:site_name" content="Line-by-Line Software Solutions" />
    <meta property="og:image" content="https://linebylinesolutions.azurewebsites.net/Images/Logos/Line-by-Line_Logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="/Images/Logos/logo.ico" />
    <meta itemprop="name" content="Line-by-Line Software Solutions" />
    <meta itemprop="image" content="https://linebylinesolutions.azurewebsites.net/Images/Logos/Line-by-Line_Logo.png" />
    <meta property="og:url" content="https://linebylinesolutions.azurewebsites.net" />
    <meta name="description" content="We Build Innovative Software for Clients - Websites, Web Apps, Android Apps, iOS Apps and Windows Apps." />
    <title>Line-by-Line Sleek Software Solutions</title>
    <link rel="stylesheet" type="text/css" href="/css/style.min.css" media="screen" />
    <meta name="viewport" content="width=device-width, user-scalable=1" />
    <script type="text/javascript" src="/js/deps-min.js"></script>
    <script type="text/javascript" async src="/js/player-min.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="header" class="section" data-limit=".15">
            <div class="header-bg"></div>

            <div class="header-inner">
                <a href="/" id="logo" alt="Go to homepage"> <img src="/Images/Logos/Line-by-Line_LogoBlack.png" title="Line-by-Line - Your Solution" alt="Line-by-Line Sleek Software Solutions" /></a>

                <div id="navigation">
                    <ul class="nav-links">
                        <li class="nav-item"><a href="/Contact/Index">Book a Consoltation</a></li>

                        <li class="nav-item"><a href="/Home/ComingSoon">Developer Portfolio</a></li>

                        <li class="nav-item"><a href="/Home/ComingSoon">Our Prices</a></li>
                    </ul>
                </div>
            </div>

            <div id="navigation-right">
                <ul class="nav-links">
                    <li class="nav-item"><a href="#" rel="noopener" target="_blank">LinkedIn</a></li>
                </ul>
            </div>

            <div id="menu-close"></div>

            <div id="menu">
                <div id="menu-background"></div>

                <div id="menu-navigation">
                    <ul class="nav-links">
                        <li class="nav-item primary"><a href="/Contact/Index">Book a Consolation</a></li>

                        <li class="nav-item primary"><a href="/Home/ComingSoon">Developer Portfolio</a></li>

                        <li class="nav-item primary"><a href="/Home/ComingSoon">Our Prices</a></li>

                        <li class="nav-item secondary"><a href="/Home/ComingSoon">Website & Web Development</a></li>

                        <li class="nav-item secondary"><a href="/launches/">Android & iOS Development</a></li>

                        <li class="nav-item secondary"><a href="/Home/ComingSoon">Windows Development</a></li>

                        <li class="nav-item secondary"><a href="/Home/ComingSoon">Cloud Development</a></li>

                        <li class="nav-item secondary"><a href="#" rel="noopener" target="_blank">Coming Soon...</a></li>
                    </ul>
                </div>
            </div>

            <button id="hamburger" aria-expanded="false" aria-controls="menu" aria-label="Menu" role="button" aria-haspopup="dialog">
					<div id="bar1" class="bar"></div>

					<div id="bar2" class="bar"></div>

					<div id="bar3" class="bar"></div>
				</button>
        </div>

        <div id="scroller">
            <div id="feature" class="section">
                <div id="parallax" class="background" data-speed="0.0025" data-desktop="/Images/Backgrounds/1.png" data-mobile="/Images/Backgrounds/2.png"></div>

                <div id="opacity" class="section-inner feature">
                    <div class="inner-left-bottom">
                        <h3 class="animate">Your Passion. Our Responsibility</h3>

                        <h2 class="animate">Find The Right Solution For You</h2>

                        <a class="btn animate" tabindex="0" onclick="href='/Contact/Index'" data-container="Hello">
                            <div class="hover"></div>
                            <span class="text">Book a Consoltation</span>
                        </a>
                    </div>

                    <div class="scrollme">
                        <svg width="30px" height="20px">
								<path stroke="#ffffff" stroke-width="2px" d="M2.000,5.000 L15.000,18.000 L28.000,5.000 " />
							</svg>
                    </div>
                </div>
            </div>

            <div class="section section-dc">
                <div class="section-inner">
                    <div class="text-columns">
                        <div class="text-column">
                            <p>
                                <b>Who are we</b><br /> Line-by-Line Software Solutions is a full-cycle app & software development company which covers client business needs with the help of the best possible software solutions. Since 2022, we have been inventing digital solutions, building websites, startups, mobile applications, progressive web applications, Android applications and much more. Helping brands the top in their markets.
                            </p>

                            <p>
                                <b>Fully Customized Solutions</b>:<br /> You are in the driver’s seat of your future solution. If you want to execute a certain feature, we will complete it for you.
                            </p>

                            <p>
                                <b>Fast Time to Market</b><br /> Line-by-Line Software Solutions is your opportunity to make it to the market as soon as possible and at an affordable cost.
                            </p>
                        </div>

                        <div class="text-column">
                            <p><b>Let us help you</b></p>

                            <p></p>

                            <ul>
                                <li>Save up to 40% total cost (compared to in-house development)</li>

                                <li>Reduce your digital product’s delivery time to market up to 30%</li>

                                <li>Cooperate with teams who are 100% filled with qualified specialists</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="uses" class="slider quickjump section swiper-container collapse">
                <div class="swiper-wrapper resize">
                    <div class="swiper-slide">
                        <div class="gallery-background gallery-full resize_gallery" data-preload data-mobile="/Images/Content/FullStackDev.gif" data-desktop="/Images/Content/FullStackDev.gif" style="background-size: contain;"></div>

                        <div class="section-inner resize">
                            <div class="inner-left-middle">
                                <h3 class="animate js-bounding">Why Choose Line-by-Line Solutions</h3>

                                <h2 class="animate">Full Stack Development</h2>

                                <p class="animate">
                                    Having a Full-Stack Developer Design, Build and Deploy Your Software Solutions has Many Benefits. These Include High Quality Results with no Extra-costs - Meaning You Don't have to Spend all Your Budget to see Results. A Full-Stack Developer will Manage Both Backend and Frontend Development which Maintains a Consistent Attention to Detail, with a Final Product ready to be Deployed faster than Traditional Approaches. Allowing Your Brand to be More Competitive Than Ever. Finding a Solution Has Never Been So Easy! Contact Branden van Staden - Official Developer For Line-by-Line Solutions to Book a Consolation.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="gallery-background gallery-full resize_gallery" data-preload data-mobile="/Images/Content/Website_build.gif" data-desktop="/Images/Content/Website_build.gif" style="background-size: contain;"></div>

                        <div class="section-inner resize">
                            <div class="inner-left-middle">
                                <h3 class="animate">Why Choose Line-by-Line Solutions</h3>

                                <h2 class="animate">Web Development</h2>

                                <p class="animate">
                                    Website and Web Application’s are in Demand with Predictions of Growth to be Exponential. Line-by-Line Solutions Offer a Detailed Approach with Web Development. Making Sure Your Brand gets the Attention to Detail it Deserves. By Choosing Line-by-Line Solutions to Design, Build and Publish your Website/s and Web Application/s You can Expect a Secure and User-Friendly Experience. Making use of Effective Communication and Planning Coupled with a Rapid Execution Phase Through Agile Methodologies You will Be Relieved to have Chosen Line-by-Line Solutions.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="gallery-background gallery-full resize_gallery" data-preload data-mobile="/Images/Content/Windows_Application.gif" data-desktop="/Images/Content/Windows_Application.gif" style="background-size: contain;"></div>

                        <div class="section-inner resize">
                            <div class="inner-left-middle">
                                <h3 class="animate">Why Choose Line-by-Line Solutions</h3>

                                <h2 class="animate">Windows Development</h2>

                                <p class="animate">
                                    Specialized in this niche market, Line-by-Line offers a personal Design for your Windows Application needs. When Developing Applications Such as a Windows Application, an Iterative Development Approach is used. By Iterating Through Build, Test and Deploy Phases your Solution will Integrate into any Windows Operating System with ease and Completely Bug Free. With Innovating Technology Such as .NET Framework and WPF styles - Your Custom/Branded Windows Application has Never Looked so Good From Managing your Point of Sales to Your Personal Websites Through a Single or Separate Windows Application - You can Trust that Line-by-Line Solutions Can Do It.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="gallery-background gallery-full resize_gallery" data-preload data-mobile="/Images/Content/Android_App.gif" data-desktop="/Images/Content/Android_App.gif" style="background-size: contain;"></div>

                        <div class="section-inner resize">
                            <div class="inner-left-middle">
                                <h3 class="animate">Why Choose Line-by-Line Solutions</h3>

                                <h2 class="animate">Mobile Application Development</h2>

                                <p class="animate">
                                    Line-by-Line Solutions Offers a Custom and Modern Design Coupled with Detailed Planning and Project Management to Build and Deploy Your Mobile Applications. Mobile Apps are Becoming a Common Assets Among Successful Companies and Brands, Line-by-Line Solutions Will Provide a Solution that Fits your Needs and Budget. When Developing a Mobile Application That will run on iOS and Android Devices, Agile Methodologies are Utilized to Build and Deploy Your Solution into Mobile Devices. Line-by-Line Solutions Takes Advantage of The Most Innovative and Modern Design Technologies in Mobile Application Development so That Your Brand Will Have a Competitive Edge
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="gallery-prev-use" class="gallery-prev swiper-button-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
							<path d="M5,6a.908.908,0,0,1-.7-.3l-4-4A.967.967,0,0,1,.3.3.967.967,0,0,1,1.7.3L5,3.6,8.3.3A.967.967,0,0,1,9.7.3a.967.967,0,0,1,0,1.4l-4,4A.908.908,0,0,1,5,6Z" transform="translate(6) rotate(90)" fill="#fff" />
						</svg>
                </div>
                <div id="gallery-next-use" class="gallery-next swiper-button-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10">
							<path
								d="M5,6a.908.908,0,0,1-.7-.3l-4-4A.967.967,0,0,1,.3.3.967.967,0,0,1,1.7.3L5,3.6,8.3.3A.967.967,0,0,1,9.7.3a.967.967,0,0,1,0,1.4l-4,4A.908.908,0,0,1,5,6Z"
								transform="translate(0 10) rotate(-90)"
								fill="#fff"
							/>
						</svg>
                </div>
            </div>
            <script>
                new Swiper ('#uses', {
                						direction: 'horizontal',
                						loop: true,
                						speed: 1500,
                						simulateTouch: false,
                						pagination: false,
                						navigation: {
                						  nextEl: '#gallery-next-use',
                						  prevEl: '#gallery-prev-use',
                						}
                					});
            </script>

            <div class="section">
                <div class="section-content">
                    <div class="content-center">
                        <div class="line-tall animate"></div>
                        <img class="framed3" src="/Images/Content/Branden_vs_profile.png" alt="Branden" style="max-height:350px; max-width:350px" />
                        <h3 class="animate js-bounding">Software Engineer</h3>
                        <h2 class="animate">Branden van Staden</h2>
                        <p class="animate">
                            CEO & Founder of Line-by-Line Solutions<br /> Web - Mobile - Ecommerce - Windows - Cloud<br /> Location: Cape Town, Western Cape<br /> South Africa.
                        </p>

                        <a class="btn large animate" tabindex="0" href="/Contact/Index" target="_blank">
                            <div class="hover"></div>
                            <div class="text">Book a Consoltation</div>
                        </a>
                        <a class="btn large animate" tabindex="0" href="/Team/Branden" target="_blank">
                            <div class="hover"></div>
                            <div class="text">VIEW Profile</div>
                        </a>
                    </div>
                </div>
            </div>
            <div id="footer">
                <p>
                    <span>Line-by-Line Software Solutions &copy; 2022</span>
                    <a href="#" rel="noopener" target="_blank" class="social">TWITTER</a>
                    <a href="#" rel="noopener" target="_blank" class="social">INSTAGRAM</a>
                    <a href="" rel="noopener" target="_blank" class="social">LINKEDIN</a>
                    <a href="/media/PrivacyPolicy.pdf" target="_blank" class="social">PRIVACY POLICY</a>
                </p>
            </div>
        </div>
    </div>

    <div id="modal" class="modal" aria-modal>
        <div class="modal-transform">
            <div class="modal-bg"></div>
            <div class="modal-inner">
                <div class="youtube-wrapper"></div>
                <span></span>
            </div>
            <a href="#" class="modal-close">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
						<line class="line1" fill="none" x1="13" y1="13" x2="33" y2="33" stroke-linecap="square" />
						<line class="line2" fill="none" x1="13" y1="33" x2="33" y2="13" stroke-linecap="square" />
					</svg>
            </a>
        </div>
    </div>

    <script type="text/javascript" src="/js/core-min.js"></script>

    <script type="text/javascript" src="/js/vehicles-min.js"></script>
    <script type="text/javascript" async src="/js/tabs-min.js"></script>
</body>

</html>