@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>


</head>

<body class="body">
     <div class="div-desktop">
        <div class="w3-content w3-padding-32" style="margin-top:25px">
        <div id="slider">
<div class="slides">

<!-- First slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1> Your title </h1>
<h2> Your description </h2>
</div>
</div>
<div class="image">
<img  src="/Images/Line_by_Line Solutions_slide4.png" alt="slideImg#4" />
</div>
</div>

<!-- Second slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1> Your title </h1>
<h2> Your description </h2>
</div>
</div>
<div class="image">
<img  src="/Images/Line_by_Line Solutions_slide1.png" alt="slideImg#1" />
</div>
</div>

<!-- Third slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1> Your title </h1>
<h2> Your description </h2>
</div>
</div>
<div class="image">
<img src="/Images/Line_by_Line Solutions_slide2.png" alt="slideImg#2" />
</div>
</div>

<!-- Fourth slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1> Your title </h1>
<h2> Your description </h2>
</div>
</div>
<div class="image">
<img src="/Images/Line_by_Line Solutions_slide3.png" alt="slideImg#3" />
</div>
</div>
</div>
</div>
</div>
</div>
 <div class="div-mobile">
               <div class="w3-content w3-padding-32" style="margin-top:25px">
        <div id="slider">
<div class="slides">

<!-- First slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1> Your title </h1>
<h2> Your description </h2>
</div>
</div>
<div class="image">
<img class="sfimg" src="/Images/Line_by_Line Solutions_slide2.png" alt="slideImg#2" style="height:230px" />
</div>
</div>

<!-- Second slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1>H1</h1>
<h2>D1</h2>
</div>
</div>
<div class="image">
<img class="sfimg" src="/Images/Line_by_Line Solutions_slide1.png" alt="slideImg#1" style="height:230px" />
</div>
</div>

<!-- Third slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1>H1</h1>
<h2>D1</h2>
</div>
</div>
<div class="image">
<img class="sfimg" src="/Images/Line_by_Line Solutions_slide2.png" alt="slideImg#2" style="height:230px" />
</div>
</div>

<!-- Fourth slide -->
<div class="slider">
<div class="legend"></div>
<div class="content">
<div class="content-txt">
<h1>H1</h1>
<h2>D1 </h2>
</div>
</div>
<div class="image">
<img class="sfimg" src="/Images/Line_by_Line Solutions_slide4.png" alt="slideImg#4" style="height:230px" />
</div>
</div>
</div>
</div>
</div>
 </div>
<div class="w3-content w3-padding w3-margin-left w3-margin-right">

  <!-- Services Section -->    
  <div class="w3-container w3-padding-64" id="Services">
    <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center h2">Why Choose Line-by-Line Solutions?</h2>        
    </div>  

  <div class="w3-row-padding w3-grayscale"> 
    <div class="w3-col l3 m6  w3-margin-bottom" style="position:relative">
        <h4>App Developerment</h4><br />           
        <img class="framed3" src="/Images/Android_App.gif" loading="lazy" style="max-height:350px; max-width:350px" /><br /><br />
        <p>
          Line-by-Line Solutions is able to design,build and deploy your solution onto both Android and iOS devices. Making use of the most innovative and modern designs in Mobile App's. 
          Line-by-Line mobile App's will blow you and your clients away.  will Building Android and iOS Applications for client.<br />
          Ranging from Ecommerce App's to Blogs, Line-by-Line can do it all.
        </p>
        <br /><button class="w3-button w3-border-dark-gray w3-amber w3-hover-blue">Learn More</button>
    </div>           
    <div class="w3-col l3 m6 w3-margin-bottom" style="position:relative">
        <h4>Windows Development</h4><br />           
        <img class="framed3" src="/Images/Windows_Application.gif" loading="lazy" style="max-height:350px; max-width:350px" /><br /><br />
        <p>
            Speicialized in this niche market, Line-by-Line can Design, Build and Deploy your solution onto Windows Operating Systems.
            Making use of .NET Framework and WPF styles - your windows applications will never have looked so good. <br />
            Managing your Point of Sales or your personal website through a windows application has never been so easy.
        </p>
        <br /><button class="w3-button w3-border-dark-gray w3-amber w3-hover-blue">Learn More</button>
    </div>           
    <div class="w3-col l3 m6 w3-margin-bottom" style="position:relative">
        <h4>Web Development</h4><br />           
        <img class="framed3" src="/Images/Website_build.gif" loading="lazy" style="max-height:350px; max-width:350px" /><br /><br />
        <p>
            Websites and WebApplications is growing exponentially. Line-by-Line Solutions offer a detialed approach with Web Development. <br />
            Making sure your brand gets the attention to detail it deserves. Choosing Line-by-Line Solutions to design, build and publish your Website/s and WebApplication/s is a smart idea - <br />
            with effective communication, planning and rapid execution you won't be disappointed.
        </p>
        <button class="w3-button w3-border-dark-gray w3-amber w3-hover-blue">Learn More</button>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom" style="position:relative">
        <h4>Qualified Full-Stack Developer</h4><br />           
        <img class="framed3" src="/Images/Idea.gif" loading="lazy" style="max-height:350px; max-width:350px" /><br /><br />
        <p>
            You think Line-by-Line won't be able to meet your needs or you might think you need to pay large sums of money to find the solution you need? Maybe you have run out of options?<br />
            Well Fear No Longer!<br />
            <b>As a Fully-Qualified Full-Stack Developer I am Certain to Have a Solution That is Just Right For You!</b><br />
            Contact me Today and Let's get to Work.
        </p>
        <button class="w3-button w3-border-dark-gray w3-amber w3-hover-blue">Learn More</button>
    </div>
 </div>
  <!-- Profile Section -->  
  
      <div class="w3-container w3-padding-64" id="Developer">
    <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16 w3-center h2">Official Software Developer</h2>
       
</div>
<a style="text-decoration:none" href="https://linebylinesolution.azurewebsites.net/Team/Branden">
<div class="w3-row-padding w3-grayscale w3-center">
         <div class="w3-col l6 m6 w3-margin-bottom">
                       
             <img class="framed3" src="/Images/Branden_vs_profile.png" alt="Branden" style="max-height:350px; max-width:350px" />


</div>
     <div class="w3-col l6 m6 w3-margin-bottom">   
         <div class="w3-card">      
          <h3>Branden van Staden</h3>
      <p class="w3-opacity"></p>
      <p>CEO & Founder of Line-by-Line Solutions</p>
      <p class="w3-opacity">
          <b>Full Stack Web & Software Engineer</b><br />
          Web Developer - Android Developer - Ecommerce - Windows Developer - Cloud Developer<br />
         <h6>Location: Cape Town, Western Cape<br />
          South Africa</h6> 
          </p> 
</div>


  </div>
</div></a>

<!-- End page content -->
      <div class="sticky-btn">   
<button class="button-sticky" onClick="location.href='Contact/Index'" alt="Email icons created by Freepik - Flaticon" title="Get in Touch"><img src="/Images/email.png" style="height:25px; width:25px"/></button>
  </div>

  </div>
</body>
</html>

