<div class= "slider">
    <slide><p class="slide"><img class="w3-image" src="/Images/Line_by_Line Solutions.png" alt="Architecture" width="1500" height="800"></p></slide>
    <slide><p class="slide"><img class="w3-image" src="/Images/Line_by_Line Solutions.png" alt="Architecture" width="1500" height="800"></p></slide>
    <slide><p class="slide">PURE CSS</p></slide>
  <slide><p class="slide">❤️</p></slide>
</div>
