<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/site.css">
    <link rel="icon" type="image/x-icon" href="/Images/Line-by-Line_Logo.png">

</head>
        <div class="w3-top"> 
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">    
            <a onclick="https://linebylinesolution.azurewebsites.net" class="w3-bar-item w3-button"><b>Line_by_Line</b> Solutions</a>           
            <div class="w3-right w3-hide-small">             
                <a onclick="window.location.href='#Services'" class="w3-bar-item w3-button">Our Services</a>                         
                <a onclick="window.location.href='#Projects'"  class="w3-bar-item w3-button">Public Portfolio</a>           
                <a onclick="window.location.href='#Team'"  class="w3-bar-item w3-button">Developer Team</a>                
                <a onclick="/Contact/Index" class="w3-bar-item w3-button">Make Contact</a>           
            </div>
        </div> 
</div> 
  <div class="w3-content w3-padding-32" style="margin-top:85px">    
    <div id="slider" class="slider">
<figure class="sfigure">
<img class="sfimg" src="/Images/Line_by_Line Solutions_slide1.png" alt="slideImg#1" style="max-height:700px" />
<img class="sfimg" src="/Images/Line_by_Line Solutions_slide2.png" alt="slideImg#2" style="max-height:700px" />
<img class="sfimg" src="/Images/Line_by_Line Solutions_slide3.png" alt="slideImg#3" style="max-height:700px" />
<img class="sfimg" src="/Images/Line_by_Line Solutions_slide4.png" alt="slideImg#4" style="max-height:700px" />
<img class="sfimg" src="/Images/Line_by_Line Solutions_slide2.png" alt="slideImg#2" style="max-height:700px" />
</figure>
</div>
</div>

<body>    

<div class="container">        
    <main role="main" class="pb-3">            
        @RenderBody()       
    </main>        
</div>
    <!-- Footer -->
<footer class="footer">
  <p title="LBL_Solutions" target="_blank" class="w3-hover-text-green">&copy; 2022 - Line_by_Line_Solutions</p>
</footer>
</body>

</html>
