<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/site.css">
        <link rel="icon" type="image/x-icon" href="/Images/Line-by-Line_Logo.png">

 
</head>
  
        <div class="w3-top"> 
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">    
            <a onclick="https://linebylinesolution.azurewebsites.net" class="w3-bar-item w3-button"><img src="/Images/Line-by-Line_Logo.png" style="max-height:30px; max-width:30px"/> <b>Line_by_Line</b> Solutions</a> 
            <div class="w3-right w3-hide-small">             
@*                <a href="" class="w3-bar-item w3-button"></a>          
*@            </div>
        </div>       
</div> 
<body>  
<div class="container">        
    <main role="main" class="pb-3">            
        @RenderBody()       
    </main>        
</div>
    <!-- Footer -->
<footer class="footer">
  <p title="LBL_Solutions" target="_blank" class="w3-hover-text-green">&copy; 2022 - Line_by_Line_Solutions</p>
</footer>
</body>
</html>