<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/site.css">
 
</head>
<body>    
        <div class="w3-top"> 
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">    
            <a href="http://localhost:9963" class="w3-bar-item w3-button">Home</a>           
            <div class="w3-right w3-hide-small">                  
                <a href="Documentation/NuMaps" class="w3-bar-item w3-button">NuMaps</a>                         
                <a href="Documentation/SuperAdmin" class="w3-bar-item w3-button">Super Admin</a>           
                <a href="Documentation/TheSecretLoveProject"  class="w3-bar-item w3-button">The Secret Love Project</a>               
                <a href="Documentation/CityMarket" class="w3-bar-item w3-button">City Market</a>           
            </div>
        </div>       
</div> 
<br />
<br />
<div class="container">        
    <main role="main" class="pb-3">            
        @RenderBody()       
    </main>        
</div>

</body>
</html>
